@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RazApp</h1>
    <br/>
</div>
<div class="text-center">
    <br />
    <p>Here you will find a list of recommended books for reading by Anaelle LTD.</p>
    <img src="~/img/RazApp.png" width="300" height="250" />
</div>

